<html>
	
	<head>
	    <title>Grey Box</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="./public/css/indexDefault.css" rel="stylesheet" type="text/css">
		<script src="./public/js/ga.js"></script>
	</head>
	
<body ng-app="index" ng-controller="indexCtrl">
    
<!--navigation-->
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span>Grey Box</span></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-ex-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="menu in menus" >
					<a ng-href="{{ menu.redirect }}" target="_blank" ng-bind="menu.title"></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--header slide-->
<div class="carousel slide" id="fullcarousel-example" data-interval="5000" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item" ng-repeat="item in carouselImages" ng-class="{active:!$index}">
			<img ng-src="{{ item.src }}">
			<!--<div class="carousel-caption">-->
			<!--	<h2>Title</h2>-->
			<!--	<p>Description</p>-->
			<!--</div>-->
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Team</h1>
				<!--<p class="text-center">We are a group of skilled individuals.</p>-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<img src="./public/img/memberFace1.jpg"
				class="img-circle img-responsive">
			</div>
			<div class="col-md-4">
				<h3 class="text-left">Grey</h3>
				<p class="text-left">쉬었다 가소</p>
			</div>
			<div class="col-md-2">
				<img src="//pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
				class="img-circle img-responsive">
			</div>
			<div class="col-md-4 text-center">
				<h3 class="text-left">John Doe</h3>
				<p class="text-left">별거 없다. </p>
			</div>
		</div>
	</div>
</div>
		
<!--footer-->
<footer class="section section-primary">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Footer header</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
					<br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
					<br>Ut enim ad minim veniam, quis nostrud</p>
			</div>
			<div class="col-sm-6">
				<p class="text-info text-right">
					<br>
					<br>
				</p>
				<div class="row">
					<div class="col-md-12 hidden-xs text-right">
						<a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
						<a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
						<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
						<a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
		
<!--script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript" ></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript" ></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.min.js"></script>
<script type="text/javascript">
    var app = angular.module("index", ['ngSanitize']);
    app.controller("indexCtrl", ["$scope", function($scope){ 
        
        ////copyright
		$scope.copyrightYear = function(){
			var thisYear = new Date().getFullYear();
			var startYear = 2015;
			if (thisYear > startYear) { 
				return(startYear + '-' + thisYear);
			} else {
				return(thisYear);
			}
		}

        $scope.menus = [
            {
                title : "RESEARCH",
                redirect : "research.html"
            },
            {
                title : "SHOWCASE",
                redirect : "showcase.html"
            },
            {
                title : "DEMO",
                redirect : "demo.html"
            },
            {
                title : "PRESENATION",
                redirect : "/pt"
            },
            {
                title : "BLOG",
                redirect : "/blog"
            },
            {
                title : "JUKEBOX",
                redirect : "/spa/jukebox/index.html"
            }
        
        ]
        
        $scope.carouselImages = [
            {
                src : "https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?w=1024&amp;q=50&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c"
            },
            {
                src : "https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?w=1024&amp;q=50&amp;fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55"
            },
            {
                src : "https://unsplash.imgix.net/photo-1422728221357-57980993ea99?w=1024&amp;q=50&amp;fm=jpg&amp;s=b4a34018d745e33048bcfc326cb9907b"
            }    
        ]
        
    }])
</script>
	
</body>
</html>