<!DOCTYPE html>
<html lang="en" ng-app="papers">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>my research</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" >
    <link href="../public/css/simple-sidebar.css" rel="stylesheet">

</head>

<body ng-controller="papersCtrl">

    <div id="wrapper" ng-class="{toggled:toggled}">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Research Papers
                    </a>
                </li>
                <li>
                    <a href="#overview">관심연구주제</a>
                </li>
                <li ng-repeat="chronicle in chronicles()">
                    <a href="{{'#year' + chronicle}}">{{chronicle + "년도 논문"}}</a>
                </li>
                <li>
                    <a href="#disqus_thread">끄적끄적</a>
                </li>
                <li>
                    <a href="../index.html">Homepage</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div id="overview" class="well">
                            <h1>관심 연구 주제</h1>
                            <ul>
                                <li>지금 이순간</li>
                                <li>한국의학사</li>
                                <li>침구 문헌 고찰</li>
                                <li>고문헌 데이터 분석</li>
                            </ul>
                            
                        </div>
                        
                        <div class="well">
                            <h1>Research Papers</h1>
                            <p>그간 발표한 논문들입니다. </p>
                            <p>인용은 거의 안되는 모양이네요. </p>
                            <p>그래도 쓸 때에는 나름 노력한 거에요. 나중에 읽어보면 별로라도... </p>
                        </div>
                        
                        <div ng-repeat="papers in myPapers" id="{{'year' + papers.year}}">
                            <div class="well">{{papers.year + "년도" + "\t\t\t"}}<span class="glyphicon glyphicon-list" aria-hidden="true" ng-click="toggle()"></span></div>
                            <blockquote ng-repeat="paper in papers.papers">
                                <p>{{paper.title + "\t\t\t"}}<a href="{{paper.linkAddress}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a><a href="{{'#year' + papers.year}}"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></p>
                                <p>{{paper.title2}}</p>
                                <footer>{{paper.firstAuth + "\t\t\t"}}<cite title="Source Title">{{paper.journal}} {{paper.serial}}</cite></footer>
                            </blockquote>
                        </div>
                        
                        
                        
                        <!-- DisQus insert Code -->
                           <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                var disqus_shortname = 'pinedance'; // required: replace example with your forum shortname

                                /* * * DON'T EDIT BELOW THIS LINE * * */
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <!-- end -->
                        
                                            
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="./myPaperList.js"></script>
    
    <!-- Menu Toggle Script -->
    <script>
        
	(function(){
		var app = angular.module('papers', []);
		app.controller('papersCtrl', ['$scope',
			function($scope) {
					
                /// menu
                
                $scope.toggle = function(){
                    $scope.toggled = !$scope.toggled;
                }
                
                $scope.chronicles = function(){
					var thisYear = new Date().getFullYear();
					var startYear = 2004;
                    var chronicles = [];
                   
                   for(i=startYear; i <= thisYear ; i++){
                        chronicles.push(i.toString());
                    }
                   return chronicles;
				}
               
				$scope.myPapers = myPapers;
                
                
                
                
                
			}]);
		})();
        
    </script>
    
</body>

</html>
