<html ng-app="myapp">

    <head>
		<meta charset="utf-8">
        <title>Combinator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    </head>
    
    <body ng-controller="MainCtrl">

        <header>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <h1>combinator</h1>
                        </div>
                        <div class="col-xs-3">
                            <br /><br />
                            <button class="btn btn-success btn-lg" ng-click="combinate()">Combinate</button>
                        </div>
                        <div class="col-xs-3">
                            <br /><br />
                            <button class="btn btn-danger btn-lg" ng-click="init()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">Input you words</div>
                      <div class="panel-body" >
                            <div classs='well'>단어 구분자 : /\s+/</div>
                            <textarea class="form-control" rows="12" ng-model="rawWords"></textarea>
                      </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Result</div>
                        <div class="panel-body" >
                            <div classs='well'>용어 \t 가능발음</div>
                            <textarea class="form-control" rows="12" >{{ combinatedWords }}</textarea>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

    
    <!-- ---------------------------------------------------------------- -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="../publicAsset/javascript/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="../publicAsset/javascript/exString.js"></script>
        <script type="text/javascript" src="./combinator.js"></script>

    </body>
</html>
