<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="Converter" ng-controller="mainCtrl">
		
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-repeat="menu in menus" ng-class="{'active': menu.order===order}">
				    <a ng-click="switchOrder( menu.order )" style="cusor:pointer">
				        {{menu.label}}<span class="sr-only">(current)</span>
				    </a>
				</li>
			</ul>
			<button type="button" class="btn btn-default navbar-btn pull-right" ng-click="convert()" style="cusor:pointer">Convert!</button>
		</div><!-- /.navbar-collapse -->
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="comment">INPUT: {{notice.input}}</label>
					<textarea class="form-control" rows="90%" id="input" ng-model="input"></textarea>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="form-group">
					<label for="comment">OUTPUT: {{notice.output}}</label>
					<textarea class="form-control" rows="90%" id="output" ng-bind="output"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="./converter/converter.js"></script>


</body>

</html>